<!DOCTYPE html>
<html>
<head>
	<title>CRUD</title>
	<% include ../partials/head %>
	<style type="text/css">
		form {
			margin: 0 auto;
		}
		h1 {
			text-align: center;
		}
	</style>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>
	<div class="jumbotron">
		<h1>Create an new user</h1>
		<form class="form-group" action="/<%= user._id %>?_method=PUT"  method="POST" style="width:30%">
			<input class="form-control"  type="text" value="<%= user.name %>" name="name" required="required">
			<input class="form-control"   type="text" value="<%= user.class %>"   name="class">
			<input class="form-control"  type="email" value="<%= user.email %>"  name="email"  required="required">
			<input class="form-control"  type="date" value="<%= user.DOB %>"  name="dob" >
			<select class="form-control" value="<%= user.gender %>" name="gender">
			  <option value="male">male</option>
			  <option value="female">female</option>
			</select>
			<input class= "btn btn-default btn-primary" type="submit">
		</form>
	</div>

	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>








