<!DOCTYPE html>
<html>
<head>
	<title>CRUD</title>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>
	<div class="jumbotron">
		<h1>Admin Dashboard</h1>
		<a href="/new" style="margin-bottom: 15px;" class="btn btn-primary"> Add new User</a>

		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Gender</th>
					<th>D.O.B</th>
					<th>Email</th>
					<th>Class</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% user.forEach(function(user){  %> 
				<%  var date = new Date(user.DOB); 
					var m = date.getMonth();
					var d = date.getDate();
					var y = date.getFullYear();
				%>
					<tr>
						<td><%= user._id %></td>
						<td><%= user.name %></td>
						<td><%= user.gender %></td>
						<td><%= d + "/" + m + "/" + y %></td>
						<td><%= user.email %></td>
						<td><%= user.class %></td>
						<td><a href="/<%= user._id %>" class="btn btn-primary ">View</td>
						<td><a href="/<%= user._id %>/edit" class="btn btn-warning ">Edit</td>
						<form method="POST" action="/<%= user._id %>/delete?_method=DELETE"   >
							<td><input type="submit" class="btn btn-danger"  value="delete"></td>
						</form>
						
					</tr>
				<% }) %>
				

				
			</tbody>

		</table>
	</div>

	<footer>
		<% include ../partials/footer %>
	</footer>
	<script src="main.js"></script>
</body>
</html>




